body {
    font-family: 'Poppins', sans-serif;
    background-color: #D2D9D3;
    margin: 0;
    padding: 20px;
}
a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
center {
    font-size: 30px;
    margin-bottom: 0px;
}
.link{
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
    color: #D2D9D3;
}
 .forma{
     width: fit-content;
    height: auto;
    border-radius: 7px;
    margin: 0 auto;
    background-color: #bbc5ad;
}
 /* Estilo para el botón */
.button {
  background-color: #bbc5ad; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado dentro del botón */
  align-items: center;
   text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Para que no ocupe toda la línea */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 4px 2px; /* Márgenes alrededor del botón */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave para el hover */
}
/* Efecto al pasar el mouse (hover) */
.button:hover {
  background-color: #868f7a /* Color de fondo cuando el mouse pasa por encima */
}
.button-container {
    display: flex; /* Usamos Flexbox para centrar los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    height: auto;
    text-align: center; /* Alinea el texto de los botones */
}